.submit-button {
    -fx-background-color: #006496;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
    -fx-padding: 4px 32px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-margin: 8px 2px;
}

.select-images-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-background-radius: 8px;
    -fx-border: 4px solid black;
    -fx-cursor: hand;
}

.claim-form-label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
    -fx-font-style: italic;
    -fx-font-weight: 500;
}

.claim-form-field {
    -fx-background-radius: 8px;
    -fx-font-family: "Arial";
    -fx-padding: 4px 8px;
    -fx-font-size: 14px;
    -fx-preferred-width: 300px;
}