.login-form {
  -fx-padding: 24px 24px 56px 24px;
  -fx-background-color: white;
  -fx-border-color: #c1c1c1;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}
.login-title {
  -fx-font-size: 24px;
  -fx-text-fill: #000;
  -fx-font-weight: bold;
  -fx-font-family: "Arial";
}
.login-button {
  -fx-background-color: #3050B0 !important;
  -fx-text-fill: #000;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-cursor: hand;
}
.login-button:hover {
  -fx-background-color: #345acd !important;
}
.login-button:pressed {
  -fx-background-color: rgb(25, 25, 140) !important;
}

.authorization-container {
  -fx-background-color: white;
  -fx-background-image: url("/images/bg.jpg");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.signup-button {
  -fx-background-color: #3050B0 !important;
  -fx-text-fill: #000;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-cursor: hand;
}

.card-details {
  -fx-background-color: #f5f5f5;
  -fx-padding: 16px;
  -fx-border-radius: 8px;
  -fx-border-color: #c1c1c1;
  -fx-border-width: 1px;
  -fx-background-radius: 8px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 0);
}

.card-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.card-number {
  -fx-font-size: 14px;
}

.card-status {
  -fx-fill: #9BD106;
}
.card-status-text {
  -fx-background-color: rgba(155, 209, 6, 0.2509803922);
  -fx-text-fill: #9BD106;
  -fx-font-size: 10px;
  -fx-padding: 0px 8px;
  -fx-border-radius: 4px;
  -fx-background-radius: 8px;
  -fx-font-weight: bold;
}

.total-coverage {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.fp-cell-container:focused {
  -fx-background-color: transparent !important;
}
.fp-cell-container:selected {
  -fx-background-color: transparent !important; /* Custom color for selected cells */
  -fx-text-fill: white; /* Optional: Change text color */
}

.status-new {
  -fx-background-color: rgba(73, 171, 252, 0.2509803922) !important;
  -fx-text-fill: #49ABFC !important;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 8px;
  -fx-background-radius: 12px;
  -fx-padding: 4px 8px;
  -fx-cursor: hand;
}
.status-processing {
  -fx-background-color: rgba(255, 220, 66, 0.2509803922);
  -fx-text-fill: #FFDC42;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 8px;
  -fx-background-radius: 12px;
  -fx-padding: 4px 8px;
  -fx-cursor: hand;
}
.status-done {
  -fx-background-color: rgba(115, 214, 34, 0.2509803922);
  -fx-text-fill: #73D622;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 8px;
  -fx-background-radius: 12px;
  -fx-padding: 4px 8px;
  -fx-cursor: hand;
}

.pane {
  -fx-background-color: white;
}

.sidebar {
  -fx-background-color: #232c3c;
}
.sidebar-button {
  -fx-background-color: transparent;
  -fx-border-radius: 8;
  -fx-font-weight: bold;
  -fx-font-size: 16;
  -fx-text-fill: #ffffff;
  -fx-alignment: left !important;
}
.sidebar-button:hover {
  -fx-background-color: rgba(193, 193, 193, 0.1254901961);
  -fx-cursor: hand;
}

.fp-button {
  -fx-background-color: #3050B0 !important;
  -fx-text-fill: #fff;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-cursor: hand;
}

.fp-button-icon {
  -fx-background-color: #3050B0 !important;
  -fx-text-fill: #fff;
  -fx-font-weight: normal;
  -fx-alignment: center !important;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 8px;
  -fx-cursor: hand;
}

.fp-combo-box {
  -fx-background-radius: 8px;
  -fx-font-size: 16px;
  -fx-padding: 8px 0px;
  -fx-background-color: transparent;
  -fx-border-color: #c1c1c1;
  -fx-alignment: center !important;
  -fx-border-radius: 8px;
  -fx-cursor: hand;
}
.fp-combo-box-popup .list-view {
  -fx-background-color: white, white;
  -fx-background-insets: 0, 1;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 0);
}
.fp-combo-box-popup .list-view .list-cell {
  -fx-padding: 4 0 4 5;
  /* No alternate highlighting */
  -fx-background-color: white;
}
.fp-combo-box-popup .list-view .list-cell:filled:selected, .fp-combo-box-popup .list-view .list-cell:filled:selected:hover {
  -fx-background: -fx-accent;
  -fx-background-color: -fx-selection-bar;
  -fx-text-fill: -fx-selection-bar-text;
}
.fp-combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color;
}
.fp-combo-box-base {
  -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
  -fx-background-color: white, white, white, white;
  -fx-background-radius: 5, 5, 4, 3;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-padding: 0;
}
.fp-combo-box-base:hover {
  -fx-color: -fx-hover-base;
}
.fp-combo-box-base:showing {
  -fx-color: -fx-pressed-base;
}
.fp-combo-box-base:focused {
  -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-radius: 6.4, 4, 5, 3;
  -fx-background-insets: -1.4, 0, 1, 2;
}
.fp-combo-box-base:disabled {
  -fx-opacity: 0.4;
}

.submit-button {
  -fx-background-color: #006496;
  -fx-text-fill: #fff;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
  -fx-margin: 8px 2px;
}
.submit-button:hover {
  -fx-background-color: #1171a4;
}
.submit-button:pressed {
  -fx-background-color: #003755;
}

.clear-button {
  -fx-background-color: #FF4326;
  -fx-text-fill: #fff;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
  -fx-margin: 8px 2px;
}
.clear-button:hover {
  -fx-background-color: #FF6A4D;
}
.clear-button:pressed {
  -fx-background-color: #811707;
}

.dialog-pane {
  -fx-background-color: #f0f0f0;
  -fx-background-radius: 8px;
  -fx-padding: 16px;
}

.upload-images-button {
  -fx-background-color: black;
  -fx-text-fill: #fff;
  -fx-font-weight: normal;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 32px;
  -fx-cursor: hand;
}
.upload-images-button:pressed {
  -fx-background-color: #006496;
}

.remove-image-button {
  -fx-background-color: red;
  -fx-text-fill: #fff;
  -fx-font-weight: normal;
  -fx-font-size: 16px;
  -fx-background-radius: 8px;
  -fx-cursor: hand;
}

.upload-images-pane {
  -fx-background-color: transparent;
  -fx-border-color: #c1c1c1;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-padding: 12px;
}

.form-label {
  -fx-font-size: 16px;
  -fx-text-fill: #000;
  -fx-font-style: italic;
  -fx-font-weight: bold;
}

.form-field {
  -fx-background-radius: 8px;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-padding: 12px 8px;
  -fx-background-color: transparent;
  -fx-border-color: #c1c1c1;
  -fx-border-radius: 6px;
}

.form-field:focused {
  -fx-border-color: #3050B0;
}

.text-area {
  -fx-background-radius: 8px;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-padding: 12px 8px;
  -fx-background-color: transparent;
  -fx-border-color: #c1c1c1;
  -fx-border-radius: 6px;
}

.text-area:focused {
  -fx-border-color: #3050B0;
}

.text-area .content {
  -fx-border-width: 0;
  -fx-background-insets: 0;
  /* Optional: removes any background insets */
  -fx-background-color: white;
}

/*# sourceMappingURL=style.css.map */
