.submit-button {
    -fx-background-color: #006496;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
    -fx-padding: 4px 32px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-margin: 8px 2px;
}

.submit-button:pressed {
    -fx-background-color: #005a8c;
}

.upload-images-button {
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.upload-images-button:pressed {
    -fx-background-color: #006496;
}

.remove-image-button {
    -fx-background-color: red;
    -fx-text-fill: #fff;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.claim-form-label {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #000;
    -fx-font-style: italic;
    -fx-font-weight: 500;
}

.claim-form-field {
    -fx-background-radius: 8px;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-padding: 4px;
}