<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres</property>
        <property name="hibernate.connection.username">postgres.sixxaurzsrdqcukvvvmg</property>
        <property name="hibernate.connection.password">Thienson@2610</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify your entity package -->
        <mapping class="com.hankaji.icm.models.User"/>
        <mapping class="com.hankaji.icm.models.InsuranceCard"/>
        <mapping class="com.hankaji.icm.models.customer.PolicyOwner"/>
        <mapping class="com.hankaji.icm.models.customer.Customer"/>
        <mapping class="com.hankaji.icm.models.Claim"/>
        <mapping class="com.hankaji.icm.models.Provider"/>
        <mapping class="com.hankaji.icm.models.Audit"/>
    </session-factory>
</hibernate-configuration>